#login {
  position: relative;
}
.login-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
  padding: 4rem 0;
}
.login-form h1 {
  font-size: 24px;
}
.login-form h3 {
  font-size: 18px;
}
.form-row {
  display: flex;
  flex-direction: column;
  margin: 1.2rem 0;
  justify-content: center;
  overflow: hidden;
  width: 320px;
}

#login-button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  height: 48px;
  text-transform: uppercase;
  width: 100%;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6;
}
.form-row input {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: 1px solid #000;
  background-color: transparent;
  line-height: 1.6;
  font-size: 1.2rem;
  height: auto;
}
.form-row select {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: 1px solid #000;
  background-color: transparent;
  line-height: 1.6;
  font-size: 1.2rem;
  height: auto;
}
.form-row label {
  align-self: flex-start;
}
.disable button:disabled {
  opacity: 0.5;
}
