#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 0 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 10;
  background-color: #f5f5f5;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 599px), (max-height: 599px) {
  #header {
    display: none;
  }
}
#header .total-time {
  font-size: 1.2rem;
  font-weight: 500;
}
#header .account {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#header .account span {
  margin-left: 0.5rem;
  padding: 0;
}
#header .account img {
  height: 1.2em;
  width: 1.2em;
  object-fit: contain;
  padding: 0;
}
